h1, h2, h3, h4, h5, p {
  margin: 0;
}

button,
input,
textarea {
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:not(:disabled) {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

a, a:active, a:focus {
  outline: none;
}

a, button {
  &:focus-visible {
    outline: 1px solid $blue;
  }
}
